EmployeeManager/Backend/EmployeeManager/mvnw
EmployeeManager/Backend/EmployeeManager/mvnw.cmd
EmployeeManager/Backend/EmployeeManager/.mvn/wrapper/maven-wrapper.jar
EmployeeManager/Backend/EmployeeManager/.mvn/wrapper/maven-wrapper.properties
EmployeeManager/Backend/EmployeeManager/src/test/java/lkeleti/employeemanager/EmployeeManagerApplicationIT.java
EmployeeManager/Frontend/EmployeeManager/.browserslistrc
EmployeeManager/Frontend/EmployeeManager/.editorconfig
